.body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header{
    border: 5px solid green;
}

.nav-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link{
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
}

.main{
    border: 5px solid yellow;
}

.main-container{
    display: flex;
    flex-wrap: wrap;
}

.section{
    width: 50%;
}

.section-title{
    padding-left: 40px;
}

.contacts-list{
    list-style: none;
}

.contacts-link{
    text-decoration: none;
}
.footer{
    border: 5px solid red;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}